.App {
  text-align: center;
  height: 853px;
  width: 550px;
  border-radius: 8.95px;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#airbnb-logo {
  width: 82.02px;
  height: 40.35px;
  margin-top: 17px;
  margin-left: 30px;
}

.header {
  display: flex;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.fig-jam {
  display: flex;
  height: 232px;
}

.fig-jam--column {
  width: 72.91px;
  margin-right: 12px;
}

.fig-jam--column > img {
  width: 100%;
  border-radius: 8.95px;
  position: relative;
  margin-bottom: 0;
}

#fig-jam--image1 {
  top: 45px;
}

#fig-jam--image2 {
  top: 12px;
  height: 80px;
}

#fig-jam--image3 {
  top: 20px;
  height: 100px;
}

#fig-jam--image4 {
  height: 90px;
  top: 24px;
}

#fig-jam--image5 {
  top: 32px;
}

#fig-jam--image6 {
  height: 100px;
}

#fig-jam--image7 {
  top: 8px;
}

#fig-jam--image8 {
  top: 15px;
}

#fig-jam--image9 {
  top: 23px;
}

.hero-title {
  margin-top: 40px;
  text-align: start;
  width: 514px;
  padding-left: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}

.hero-text {
  text-align: start;
  margin-top: 16px;
  position: relative;
  width: 320px;
  left: calc(45px - (550px / 4));
  padding-left: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

.carrousel {
  margin-top: 49px;
  margin-left: 36px;
  display: flex;
  overflow:hidden ;
}

.card {
  width: 176px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  font-size: 12px;
}

.card > div {
  margin-top: 8px;
}

.card-rating {
  display: flex;
  align-items: center;
}


.card--image {
  height: 235px;
  width: 176px;
  border-radius: 9px;
}

.card--star {
  height: 14px;
  width: 14px;
  margin-right: 2px;
}

.grey {
  color: #918e9b;
  margin-left: 2px;
}

.bold {
  font-weight: 600;
}
